<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoKeeper | Log Vehicle</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/navbar/') %>

    <section class="vh-100 gradient-custom">
        
      <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-top h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card-body p-2 text-center bg-light">
                    <p class="mb-3">Edit Maintenance Entry:</p>
                    <div class="d-grid gap-2">
                      <form action="/editVehicle/<%= vehicle._id %>" method="POST" id="serviceForm">
                        <div class="form-group">
                          <label for="name">Vehicle Name:</label>
                          <input type="text" class="form-control" id="name" name="name" value="<%= vehicle.name %>" required>
                        </div>
                        <div class="form-group">
                          <label for="make">Make:</label>
                          <input type="make" class="form-control" id="make" name="make" value="<%= vehicle.make %>" required>
                        </div>
                        <div class="form-group">
                          <label for="model">Model:</label>
                          <input type="text" class="form-control" id="model" name="model" value="<%= vehicle.model %>" required>
                        </div>
                        <div class="form-group">
                          <label for="otherInfo">Other Info:</label>
                          <input type="text" class="form-control" id="otherInfo" name="otherInfo" value="<%= vehicle.otherInfo %>" required>
                        </div>
                        <!-- <div class="form-group">
                          <label for="file" class="form-label">Image</label>
                          <input type="file" class="form-control" id="file" name="file">
                        </div> -->
                        <button type="submit" class="btn btn-custom">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>